<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/87027fcc-68ea-4b16-8540-a40fee06f8d4/resourceGroups/eksteinresourcegroup/providers/Microsoft.Web/sites/eksteinfunctionapp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://eksteinfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>eksteinfunctionapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eksteinfunctionapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eksteinfunctionapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>